*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-color: white;
    --text-color: black;
    --border-color: black;
    --border-radius: 10px;
    --border-size: 10px;
    --font-size: 16;
    --image-horizontal: 10px;
    --image-vertical: 10px;
}

body{
    background-color: #1a1a1a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

#cardMaker{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    background-color: #333333;
    border-radius: 5px;
    padding: 1rem;
    gap: 1rem;
}

#inputs, #variables{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

#wholeCard{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#alignVertical{
    display: flex;
}

#card{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    word-break: break-all;
    background-color: var(--bg-color);
    color: var(--text-color);
    border-radius: var(--border-radius);
    border: var(--border-size) solid var(--border-color);
    font-size: var(--font-size);
    position: relative;
    padding: 0.5rem;
}

#photo-card{
    max-width: 150px;
    position: absolute;
    bottom: var(--image-vertical);
    left: var(--image-horizontal);
}

.colorSelector{
    display: flex;
    justify-content: space-between;
}

input[type="text"]{
    padding: 0.25rem;
}

button{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

@media print{
    body, body *{
        visibility: hidden;
        background-color: white;
    }
    #card, #card *{
        visibility: visible;
    }
}